<div class="container">
    <p class="mt-2">Хочешь найти контакт?</p>
    <div class="row">
        <input type="text" class="form-control" [(ngModel)]="searchString" >
    </div>
</div>
<app-view-person *ngFor="let person of persons | myFilter:searchString" [person]='person' (changeP)='changePersons($event)' (deleteP)='deletePersons($event)'></app-view-person>
<app-add-person (addP)='addPersons($event)'></app-add-person>

